Load in our labeled data

In [212]:
import pandas as pd
from dateutil import parser

dataset = 'ML_Data/dj_classified_pos.xlsx'
output_dataset_name = 'ML_Data/DJI_pos.csv'
price_data = 'data/price/DJI.xlsx'
dates = 'data/dates.csv'

df = pd.read_excel(dataset)
df.columns = ['date', 'comment', 'label', 'compound_score']
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [213]:
del df['comment']
del df['compound_score']

In [214]:
df.head()

        date  label
0 2019-05-03      0
1 2019-05-03      1
2 2019-05-03      0
3 2019-05-03      0
4 2019-05-03      0

Loop through all comments and create a new DataFrame that hosts the number of positives and negatives for each day.

In [215]:
rows = []
prices = []
grouped = df.groupby('date')
for date, group in grouped:
    positives = len(group[group['label'] == 1])
    negatives = len(group[group['label'] == 0])
        
    new_row = {
        'date': date,
        'positives': positives,
        'negatives': negatives,
        'ratio': positives / (positives + negatives)
    }
    
    rows.append(new_row)

In [216]:
new_df = pd.DataFrame(rows)

In [217]:
new_df.tail()

          date  negatives  positives     ratio
329 2019-04-29          4          3  0.428571
330 2019-04-30          5          3  0.375000
331 2019-05-01         13         10  0.434783
332 2019-05-02         15          8  0.347826
333 2019-05-03         10          5  0.333333

# Join with dates, so we make sure we have all dates

In [218]:
df_dates = pd.read_csv(dates)
df_dates['date'] = pd.to_datetime(df_dates['date'])
df_dates.tail(10)

          date
478 2018-01-10
479 2018-01-09
480 2018-01-08
481 2018-01-07
482 2018-01-06
483 2018-01-05
484 2018-01-04
485 2018-01-03
486 2018-01-02
487 2018-01-01

In [219]:
new_df = pd.merge(df_dates, new_df, on='date', how='outer')

In [220]:
new_df.fillna(0, inplace=True)

In [221]:
new_df.head(10)

        date  negatives  positives     ratio
0 2019-05-03       10.0        5.0  0.333333
1 2019-05-02       15.0        8.0  0.347826
2 2019-05-01       13.0       10.0  0.434783
3 2019-04-30        5.0        3.0  0.375000
4 2019-04-29        4.0        3.0  0.428571
5 2019-04-28        0.0        0.0  0.000000
6 2019-04-27        0.0        0.0  0.000000
7 2019-04-26       13.0       10.0  0.434783
8 2019-04-25       18.0        7.0  0.280000
9 2019-04-24        7.0        5.0  0.416667

Loop through new DataFrame and add 2 lags to each day. First we reverse order of DataFrame.

In [222]:
new_df = new_df.iloc[::-1]

lags = range(1, 8)

In [223]:
new_df = new_df.assign(**{
    '{} (t-{})'.format(col, t): new_df[col].shift(t)
    for t in lags
    for col in new_df
})

In [224]:
del new_df['date (t-1)']
del new_df['date (t-2)']
del new_df['date (t-3)']
del new_df['date (t-4)']
del new_df['date (t-5)']
del new_df['date (t-6)']
del new_df['date (t-7)']

In [81]:
new_df.fillna(0, inplace=True)
new_df

,date,negatives,positives,ratio,negatives (t-1),positives (t-1),ratio (t-1),negatives (t-2),positives (t-2),ratio (t-2),...,negatives (t-7),positives (t-7),ratio (t-7),Date,High,Low,Upper Bound,Lower Bound,Close,label
0,2019-05-04,21.0,11.0,0.343750,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.000000,5/4/19,5849.500000,5709.740234,7311.875000,4282.305175,5794.140137,0
1,2019-05-03,43.0,20.0,0.317460,39.0,21.0,0.350000,18.0,11.0,0.379310,...,32.0,23.0,0.418182,5/3/19,5901.359863,5596.149902,7376.699829,4197.112426,5840.080078,1
2,2019-05-02,39.0,21.0,0.350000,18.0,11.0,0.379310,18.0,8.0,0.307692,...,29.0,27.0,0.482143,5/2/19,5891.899902,5484.779785,7364.874878,4113.584839,5753.379883,1
3,2019-05-01,18.0,11.0,0.379310,18.0,8.0,0.307692,15.0,7.0,0.318182,...,24.0,23.0,0.489362,5/1/19,5531.149902,5387.290039,6913.937378,4040.467529,5500.720215,1
4,2019-04-30,18.0,8.0,0.307692,15.0,7.0,0.318182,30.0,9.0,0.230769,...,23.0,22.0,0.488889,4/30/19,5417.169922,5346.700195,6771.462403,4010.025146,5389.540039,1
5,2019-04-29,15.0,7.0,0.318182,30.0,9.0,0.230769,25.0,17.0,0.404762,...,25.0,17.0,0.404762,4/29/19,5372.229980,5224.640137,6715.287475,3918.480103,5350.640137,1
6,2019-04-28,30.0,9.0,0.230769,25.0,17.0,0.404762,32.0,23.0,0.418182,...,16.0,10.0,0.384615,4/28/19,5299.509766,5162.810059,6624.387207,3872.107544,5237.959961,0
7,2019-04-27,25.0,17.0,0.404762,32.0,23.0,0.418182,29.0,27.0,0.482143,...,19.0,7.0,0.269231,4/27/19,5313.700195,5218.419922,6642.125244,3913.814941,5272.450195,1
8,2019-04-26,32.0,23.0,0.418182,29.0,27.0,0.482143,24.0,23.0,0.489362,...,9.0,12.0,0.571429,4/26/19,5282.970215,5192.450195,6603.712769,3894.337646,5229.479980,0
9,2019-04-25,29.0,27.0,0.482143,24.0,23.0,0.489362,23.0,22.0,0.488889,...,27.0,11.0,0.289474,4/25/19,5361.939941,5104.180176,6702.424926,3828.135132,5234.089844,1
10,2019-04-24,24.0,23.0,0.489362,23.0,22.0,0.488889,25.0,17.0,0.404762,...,21.0,15.0,0.416667,4/24/19,5521.609863,5031.689941,6902.012329,3773.767456,5162.669922,0
11,2019-04-23,23.0,22.0,0.488889,25.0,17.0,0.404762,16.0,10.0,0.384615,...,24.0,13.0,0.351351,4/23/19,5633.000000,5390.979980,7041.250000,4043.234985,5454.580078,0
12,2019-04-22,25.0,17.0,0.404762,16.0,10.0,0.384615,19.0,7.0,0.269231,...,21.0,13.0,0.382353,4/22/19,5626.830078,5371.310059,7033.537597,4028.482544,5539.100098,1
13,2019-04-21,16.0,10.0,0.384615,19.0,7.0,0.269231,9.0,12.0,0.571429,...,14.0,6.0,0.300000,4/21/19,5444.759766,5265.729980,6805.949707,3949.297485,5394.669922,1
14,2019-04-20,19.0,7.0,0.269231,9.0,12.0,0.571429,27.0,11.0,0.289474,...,9.0,6.0,0.400000,4/20/19,5348.589844,5232.770020,6685.737305,3924.577515,5305.740234,0
15,2019-04-19,9.0,12.0,0.571429,27.0,11.0,0.289474,21.0,15.0,0.416667,...,23.0,8.0,0.258065,4/19/19,5366.600098,5274.450195,6708.250122,3955.837646,5326.180176,1
16,2019-04-18,27.0,11.0,0.289474,21.0,15.0,0.416667,24.0,13.0,0.351351,...,32.0,32.0,0.500000,4/18/19,5353.009766,5212.180176,6691.262207,3909.135132,5295.529785,1
17,2019-04-17,21.0,15.0,0.416667,24.0,13.0,0.351351,21.0,13.0,0.382353,...,42.0,25.0,0.373134,4/17/19,5317.779785,5232.990234,6647.224731,3924.742676,5289.750000,1
18,2019-04-16,24.0,13.0,0.351351,21.0,13.0,0.382353,14.0,6.0,0.300000,...,18.0,8.0,0.307692,4/16/19,5270.759766,5190.810059,6588.449707,3893.107544,5236.259766,1
19,2019-04-15,21.0,13.0,0.382353,14.0,6.0,0.300000,9.0,6.0,0.400000,...,20.0,12.0,0.375000,4/15/19,5232.029785,5029.160156,6540.037231,3771.870117,5212.810059,1
20,2019-04-14,14.0,6.0,0.300000,9.0,6.0,0.400000,23.0,8.0,0.258065,...,36.0,22.0,0.379310,4/14/19,5195.310059,4969.310059,6494.137574,3726.982544,5037.270020,0
21,2019-04-13,9.0,6.0,0.400000,23.0,8.0,0.258065,32.0,32.0,0.500000,...,23.0,16.0,0.410256,4/13/19,5186.819824,5031.200195,6483.524780,3773.400146,5165.589844,1
22,2019-04-12,23.0,8.0,0.258065,32.0,32.0,0.500000,42.0,25.0,0.373134,...,16.0,12.0,0.428571,4/12/19,5128.959961,5056.189941,6411.199951,3792.142456,5080.660156,0
23,2019-04-11,32.0,32.0,0.500000,42.0,25.0,0.373134,18.0,8.0,0.307692,...,25.0,23.0,0.479167,4/11/19,5118.609863,4927.620117,6398.262329,3695.715088,5081.500000,1
24,2019-04-10,42.0,25.0,0.373134,18.0,8.0,0.307692,20.0,12.0,0.375000,...,53.0,34.0,0.390805,4/10/19,5343.660156,4987.649902,6679.575195,3740.737426,5048.560059,0
25,2019-04-09,18.0,8.0,0.307692,20.0,12.0,0.375000,36.0,22.0,0.379310,...,72.0,45.0,0.384615,4/9/19,5460.939941,5178.609863,6826.174926,3883.957397,5318.600098,1
26,2019-04-08,20.0,12.0,0.375000,36.0,22.0,0.379310,23.0,16.0,0.410256,...,16.0,8.0,0.333333,4/8/19,5294.089844,5159.129883,6617.612305,3869.347412,5201.299805,0
27,2019-04-07,36.0,22.0,0.379310,23.0,16.0,0.410256,16.0,12.0,0.428571,...,28.0,16.0,0.363636,4/7/19,5347.879883,5141.229980,6684.849854,3855.922485,5294.089844,1
28,2019-04-06,23.0,16.0,0.410256,16.0,12.0,0.428571,25.0,23.0,0.479167,...,12.0,7.0,0.368421,4/6/19,5266.040039,5044.279785,6582.550049,3783.209839,5201.160156,1
29,2019-04-05,16.0,12.0,0.428571,25.0,23.0,0.479167,53.0,34.0,0.390805,...,24.0,15.0,0.384615,4/5/19,5240.189941,4938.000000,6550.237426,3703.500000,5057.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,2018-01-30,150.0,84.0,0.358974,52.0,29.0,0.358025,93.0,53.0,0.363014,...,81.0,42.0,0.341463,1/30/18,11263.700195,9871.209961,14079.625244,7403.407471,10107.259766,0
461,2018-01-29,52.0,29.0,0.358025,93.0,53.0,0.363014,68.0,40.0,0.370370,...,124.0,95.0,0.433790,1/29/18,11860.290039,11089.519531,14825.362549,8317.139648,11233.950195,0
462,2018-01-28,93.0,53.0,0.363014,68.0,40.0,0.370370,58.0,44.0,0.431373,...,98.0,60.0,0.379747,1/28/18,12064.190430,11407.940430,15080.238037,8555.955322,11767.740234,1
463,2018-01-27,68.0,40.0,0.370370,58.0,44.0,0.431373,71.0,49.0,0.408333,...,73.0,57.0,0.438462,1/27/18,11638.690430,10879.200195,14548.363037,8159.400146,11459.709961,1
464,2018-01-26,58.0,44.0,0.431373,71.0,49.0,0.408333,46.0,40.0,0.465116,...,57.0,25.0,0.304878,1/26/18,11656.540039,10346.860352,14570.675049,7760.145264,11104.200195,0
465,2018-01-25,71.0,49.0,0.408333,46.0,40.0,0.465116,81.0,42.0,0.341463,...,82.0,54.0,0.397059,1/25/18,11741.919922,10930.339844,14677.399902,8197.754883,11175.870117,0
466,2018-01-24,46.0,40.0,0.465116,81.0,42.0,0.341463,124.0,95.0,0.433790,...,202.0,130.0,0.391566,1/24/18,11531.599609,10506.549805,14414.499511,7879.912354,11429.019531,1
467,2018-01-23,81.0,42.0,0.341463,124.0,95.0,0.433790,98.0,60.0,0.379747,...,146.0,97.0,0.399177,1/23/18,11388.519531,9980.500000,14235.649414,7485.375000,10858.230469,1
468,2018-01-22,124.0,95.0,0.433790,98.0,60.0,0.379747,73.0,57.0,0.438462,...,55.0,48.0,0.466019,1/22/18,11913.740234,10067.759766,14892.175293,7550.819825,10814.519531,0
469,2018-01-21,98.0,60.0,0.379747,73.0,57.0,0.438462,57.0,25.0,0.304878,...,13.0,18.0,0.580645,1/21/18,12787.349609,11101.730469,15984.187011,8326.297852,11549.929688,0
470,2018-01-20,73.0,57.0,0.438462,57.0,25.0,0.304878,82.0,54.0,0.397059,...,13.0,11.0,0.458333,1/20/18,13031.040039,11502.110352,16288.800049,8626.582764,12783.940430,1
471,2018-01-19,57.0,25.0,0.304878,82.0,54.0,0.397059,202.0,130.0,0.391566,...,24.0,13.0,0.351351,1/19/18,11780.490234,10867.179688,14725.612793,8150.384766,11521.759766,1
472,2018-01-18,82.0,54.0,0.397059,202.0,130.0,0.391566,146.0,97.0,0.399177,...,26.0,20.0,0.434783,1/18/18,12018.429688,10642.330078,15023.037110,7981.747559,11175.519531,1
473,2018-01-17,202.0,130.0,0.391566,146.0,97.0,0.399177,55.0,48.0,0.466019,...,36.0,29.0,0.446154,1/17/18,11736.299805,9205.379883,14670.374756,6904.034912,11162.700195,0
474,2018-01-16,146.0,97.0,0.399177,55.0,48.0,0.466019,13.0,18.0,0.580645,...,17.0,14.0,0.451613,1/16/18,13648.839844,10032.690430,17061.049805,7524.517822,11282.490234,0
475,2018-01-15,55.0,48.0,0.466019,13.0,18.0,0.580645,13.0,11.0,0.458333,...,73.0,45.0,0.381356,1/15/18,14355.820313,13416.709961,17944.775391,10062.532471,13631.980469,0
476,2018-01-14,13.0,18.0,0.580645,13.0,11.0,0.458333,24.0,13.0,0.351351,...,15.0,17.0,0.531250,1/14/18,14415.669922,13031.910156,18019.587403,9773.932617,13638.629883,0
477,2018-01-13,13.0,11.0,0.458333,24.0,13.0,0.351351,26.0,20.0,0.434783,...,44.0,19.0,0.301587,1/13/18,14595.040039,13830.280273,18243.800049,10372.710205,14243.120117,1
478,2018-01-12,24.0,13.0,0.351351,26.0,20.0,0.434783,36.0,29.0,0.446154,...,52.0,36.0,0.409091,1/12/18,14129.080078,12851.910156,17661.350097,9638.932617,13841.190430,1
479,2018-01-11,26.0,20.0,0.434783,36.0,29.0,0.446154,17.0,14.0,0.451613,...,25.0,14.0,0.358974,1/11/18,14979.959961,12825.950195,18724.949951,9619.462646,13308.059570,0
480,2018-01-10,36.0,29.0,0.446154,17.0,14.0,0.451613,73.0,45.0,0.381356,...,24.0,25.0,0.510204,1/10/18,14919.490234,13450.540039,18649.362793,10087.905029,14919.490234,1
481,2018-01-09,17.0,14.0,0.451613,73.0,45.0,0.381356,15.0,17.0,0.531250,...,75.0,37.0,0.330357,1/9/18,15390.280273,14221.549805,19237.850341,10666.162354,14468.500000,0
482,2018-01-08,73.0,45.0,0.381356,15.0,17.0,0.531250,44.0,19.0,0.301587,...,69.0,38.0,0.355140,1/8/18,16302.919922,13902.309570,20378.649903,10426.732178,14976.169922,0
483,2018-01-07,15.0,17.0,0.531250,44.0,19.0,0.301587,52.0,36.0,0.409091,...,21.0,11.0,0.343750,1/7/18,17184.810547,15791.129883,21481.013184,11843.347412,16228.160156,0
484,2018-01-06,44.0,19.0,0.301587,52.0,36.0,0.409091,25.0,14.0,0.358974,...,0.0,0.0,0.000000,1/6/18,17252.849609,16286.570313,21566.062011,12214.927735,17172.300781,1
485,2018-01-05,52.0,36.0,0.409091,25.0,14.0,0.358974,24.0,25.0,0.510204,...,0.0,0.0,0.000000,1/5/18,17126.949219,14832.360352,21408.686524,11124.270264,16954.779297,1
486,2018-01-04,25.0,14.0,0.358974,24.0,25.0,0.510204,75.0,37.0,0.330357,...,0.0,0.0,0.000000,1/4/18,15408.660156,14244.669922,19260.825195,10683.502442,15180.080078,1
487,2018-01-03,24.0,25.0,0.510204,75.0,37.0,0.330357,69.0,38.0,0.355140,...,0.0,0.0,0.000000,1/3/18,15435.009766,14579.709961,19293.762207,10934.782471,15156.620117,1
488,2018-01-02,75.0,37.0,0.330357,69.0,38.0,0.355140,21.0,11.0,0.343750,...,0.0,0.0,0.000000,1/2/18,15306.129883,12934.160156,19132.662354,9700.620117,14754.129883,1
489,2018-01-01,69.0,38.0,0.355140,21.0,11.0,0.343750,0.0,0.0,0.000000,...,0.0,0.0,0.000000,1/1/18,13921.530273,12877.669922,17401.912841,9658.252442,13444.879883,0

In [226]:
new_df = new_df.sort_values(['date'],ascending=[False])

In [227]:
new_df.head(10)

,date,negatives,positives,ratio,negatives (t-1),positives (t-1),ratio (t-1),negatives (t-2),positives (t-2),ratio (t-2),...,ratio (t-4),negatives (t-5),positives (t-5),ratio (t-5),negatives (t-6),positives (t-6),ratio (t-6),negatives (t-7),positives (t-7),ratio (t-7)
0,2019-05-03,10.0,5.0,0.333333,15.0,8.0,0.347826,13.0,10.0,0.434783,...,0.428571,0.0,0.0,0.000000,0.0,0.0,0.000000,13.0,10.0,0.434783
1,2019-05-02,15.0,8.0,0.347826,13.0,10.0,0.434783,5.0,3.0,0.375000,...,0.000000,0.0,0.0,0.000000,13.0,10.0,0.434783,18.0,7.0,0.280000
2,2019-05-01,13.0,10.0,0.434783,5.0,3.0,0.375000,4.0,3.0,0.428571,...,0.000000,13.0,10.0,0.434783,18.0,7.0,0.280000,7.0,5.0,0.416667
3,2019-04-30,5.0,3.0,0.375000,4.0,3.0,0.428571,0.0,0.0,0.000000,...,0.434783,18.0,7.0,0.280000,7.0,5.0,0.416667,16.0,5.0,0.238095
4,2019-04-29,4.0,3.0,0.428571,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.280000,7.0,5.0,0.416667,16.0,5.0,0.238095,7.0,4.0,0.363636
5,2019-04-28,0.0,0.0,0.000000,0.0,0.0,0.000000,13.0,10.0,0.434783,...,0.416667,16.0,5.0,0.238095,7.0,4.0,0.363636,0.0,0.0,0.000000
6,2019-04-27,0.0,0.0,0.000000,13.0,10.0,0.434783,18.0,7.0,0.280000,...,0.238095,7.0,4.0,0.363636,0.0,0.0,0.000000,0.0,0.0,0.000000
7,2019-04-26,13.0,10.0,0.434783,18.0,7.0,0.280000,7.0,5.0,0.416667,...,0.363636,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000
8,2019-04-25,18.0,7.0,0.280000,7.0,5.0,0.416667,16.0,5.0,0.238095,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,6.0,16.0,0.727273
9,2019-04-24,7.0,5.0,0.416667,16.0,5.0,0.238095,7.0,4.0,0.363636,...,0.000000,0.0,0.0,0.000000,6.0,16.0,0.727273,9.0,4.0,0.307692

# Merge with price data

In [228]:
df_price = pd.read_excel(price_data, skiprows=[0])
df_price['date'] = pd.to_datetime(df_price['Date'])

new_df = pd.merge(new_df, df_price, how='inner', on='date')

In [229]:
new_df.head(10)

,date,negatives,positives,ratio,negatives (t-1),positives (t-1),ratio (t-1),negatives (t-2),positives (t-2),ratio (t-2),...,ratio (t-6),negatives (t-7),positives (t-7),ratio (t-7),Date,High,Low,Upper Bound,Lower Bound,Close
0,2019-05-03,10.0,5.0,0.333333,15.0,8.0,0.347826,13.0,10.0,0.434783,...,0.000000,13.0,10.0,0.434783,5/3/19,26534.960938,26370.089844,33168.701172,19777.567383,26504.949219
1,2019-05-02,15.0,8.0,0.347826,13.0,10.0,0.434783,5.0,3.0,0.375000,...,0.434783,18.0,7.0,0.280000,5/2/19,26454.689453,26180.359375,33068.361816,19635.269531,26307.789063
2,2019-05-01,13.0,10.0,0.434783,5.0,3.0,0.375000,4.0,3.0,0.428571,...,0.280000,7.0,5.0,0.416667,5/1/19,26689.390625,26426.380859,33361.738281,19819.785644,26430.140625
3,2019-04-30,5.0,3.0,0.375000,4.0,3.0,0.428571,0.0,0.0,0.000000,...,0.416667,16.0,5.0,0.238095,4/30/19,26614.039063,26419.470703,33267.548829,19814.603027,26592.910156
4,2019-04-29,4.0,3.0,0.428571,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.238095,7.0,4.0,0.363636,4/29/19,26602.539063,26520.750000,33253.173829,19890.562500,26554.390625
5,2019-04-26,13.0,10.0,0.434783,18.0,7.0,0.280000,7.0,5.0,0.416667,...,0.000000,0.0,0.0,0.000000,4/26/19,26543.560547,26392.550781,33179.450684,19794.413086,26543.330078
6,2019-04-25,18.0,7.0,0.280000,7.0,5.0,0.416667,16.0,5.0,0.238095,...,0.000000,6.0,16.0,0.727273,4/25/19,26536.480469,26310.279297,33170.600586,19732.709473,26462.080078
7,2019-04-24,7.0,5.0,0.416667,16.0,5.0,0.238095,7.0,4.0,0.363636,...,0.727273,9.0,4.0,0.307692,4/24/19,26680.580078,26582.859375,33350.725097,19937.144531,26597.050781
8,2019-04-23,16.0,5.0,0.238095,7.0,4.0,0.363636,0.0,0.0,0.000000,...,0.307692,15.0,6.0,0.285714,4/23/19,26695.960938,26503.560547,33369.951172,19877.670410,26656.390625
9,2019-04-22,7.0,4.0,0.363636,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.285714,11.0,5.0,0.312500,4/22/19,26553.050781,26458.609375,33191.313476,19843.957031,26511.050781

In [208]:
new_df['label'] = new_df['Close'] > new_df['Close'].shift(-1)
new_df['label'] = new_df['label'].astype(int)

In [209]:
new_df.fillna(0, inplace=True)
new_df = new_df.drop(['High', 'Low', 'Upper Bound', 'Lower Bound', 'Close', 'Date'], axis=1)

In [210]:
new_df.head(10)

,date,negatives,positives,ratio,negatives (t-1),positives (t-1),ratio (t-1),negatives (t-2),positives (t-2),ratio (t-2),...,negatives (t-5),positives (t-5),ratio (t-5),negatives (t-6),positives (t-6),ratio (t-6),negatives (t-7),positives (t-7),ratio (t-7),label
0,2019-05-03,19.0,20.0,0.512821,26.0,23.0,0.469388,32.0,15.0,0.319149,...,0.0,0.0,0.000000,0.0,0.0,0.000000,65.0,37.0,0.362745,1
1,2019-05-02,26.0,23.0,0.469388,32.0,15.0,0.319149,15.0,12.0,0.444444,...,0.0,0.0,0.000000,65.0,37.0,0.362745,87.0,46.0,0.345865,1
2,2019-05-01,32.0,15.0,0.319149,15.0,12.0,0.444444,22.0,11.0,0.333333,...,65.0,37.0,0.362745,87.0,46.0,0.345865,59.0,42.0,0.415842,0
3,2019-04-30,15.0,12.0,0.444444,22.0,11.0,0.333333,0.0,0.0,0.000000,...,87.0,46.0,0.345865,59.0,42.0,0.415842,16.0,16.0,0.500000,0
4,2019-04-29,22.0,11.0,0.333333,0.0,0.0,0.000000,0.0,0.0,0.000000,...,59.0,42.0,0.415842,16.0,16.0,0.500000,22.0,13.0,0.371429,1
5,2019-04-26,65.0,37.0,0.362745,87.0,46.0,0.345865,59.0,42.0,0.415842,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0
6,2019-04-25,87.0,46.0,0.345865,59.0,42.0,0.415842,16.0,16.0,0.500000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,5.0,10.0,0.666667,0
7,2019-04-24,59.0,42.0,0.415842,16.0,16.0,0.500000,22.0,13.0,0.371429,...,0.0,0.0,0.000000,5.0,10.0,0.666667,3.0,4.0,0.571429,0
8,2019-04-23,16.0,16.0,0.500000,22.0,13.0,0.371429,0.0,0.0,0.000000,...,5.0,10.0,0.666667,3.0,4.0,0.571429,11.0,9.0,0.450000,1
9,2019-04-22,22.0,13.0,0.371429,0.0,0.0,0.000000,0.0,0.0,0.000000,...,3.0,4.0,0.571429,11.0,9.0,0.450000,17.0,6.0,0.260870,0

In [211]:
new_df.to_csv(output_dataset_name)