Load in our labeled data

In [8]:
import pandas as pd
df = pd.read_csv('test-dm.csv')
df.head()

       date                                            comment price  label
0  04-05-19  ..$5780 holds and $6732 becomes a distinct pos...  5849      1
1  04-05-19  ..thumbs down if you nasty bears love getting ...  5849      0
2  04-05-19  Mysterious Crypto Whale Unveils Meteoric Bitco...  5849      1
3  04-05-19                     Probably be down 20% by Monday  5849      1
4  04-05-19                     Short BTC for maßsive profits!  5849      0

Loop through all comments and create a new DataFrame that hosts the number of positives and negatives for each day.

In [59]:
rows = []
prices = []
grouped = df.groupby('date')
i = -1
for date, group in grouped:
    positives = len(group[group['label'] == 1])
    negatives = len(group[group['label'] == 0])
    price = group.iloc[0]['price']
    
    prices.append(price)
    if len(prices) > 1:
        print(i)
        print(prices[i])
        print(prices[i+1])
        if prices[i] > prices[i]:
            print("above")
        else:
            print("Below")
        
    new_row = {
        'date': date,
        'positives': positives,
        'negatives': negatives,
        'ratio': positives / (positives + negatives)
    }
    
    rows.append(new_row)
    i += 1

0
5,500
6,000
1
6,000
5,900
2
5,900
5849

In [11]:
new_df = pd.DataFrame(rows)

In [164]:
new_df.head()

       date  negatives  positives     ratio
0  01-05-19         13         16  0.551724
1  02-05-19         33         27  0.450000
2  03-05-19         31         32  0.507937
3  04-05-19          4         28  0.875000

Loop through new DataFrame and add 2 lags to each day

In [165]:
lags = range(1, 3)

In [166]:
new_df = new_df.assign(**{
    '{} (t-{})'.format(col, t): new_df[col].shift(t)
    for t in lags
    for col in new_df
})

In [167]:
del new_df['date (t-1)']
del new_df['date (t-2)']

In [168]:
new_df.head()

,date,negatives,positives,ratio,negatives (t-1),positives (t-1),ratio (t-1),negatives (t-2),positives (t-2),ratio (t-2)
0,01-05-19,13,16,0.551724,NaN,NaN,NaN,NaN,NaN,NaN
1,02-05-19,33,27,0.450000,13.0,16.0,0.551724,NaN,NaN,NaN
2,03-05-19,31,32,0.507937,33.0,27.0,0.450000,13.0,16.0,0.551724
3,04-05-19,4,28,0.875000,31.0,32.0,0.507937,33.0,27.0,0.450000