In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df_bc = pd.read_csv('data/comments/bitcoin.csv')
df_dj = pd.read_csv('data/comments/dj.csv')
df_ts = pd.read_csv('data/comments/tesla.csv')

In [3]:
from dateutil import parser
from datetime import date
import re

def convert_date(date_string):
    
    if 'ago' in str(date_string):
        today = date.today()
        return today.strftime("%Y-%m-%d")
    
    if 'nan' in str(date_string):
        return
    
    dt = parser.parse(date_string)  
    return dt.strftime("%Y-%m-%d")

def convert(df):
    df.drop(['Unnamed: 0'], axis=1, inplace=True)
    df['date'] = df['date'].apply(lambda x: convert_date(x))
    
    return df

In [4]:
df_bc = convert(df_bc)
df_dj = convert(df_dj)
df_ts = convert(df_ts)

/Users/morten/anaconda3/lib/python3.7/site-packages/dateutil/parser/_parser.py:1204: UnknownTimezoneWarning: tzname ET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [5]:
df_bc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36150 entries, 0 to 36149
Data columns (total 2 columns):
comment    23093 non-null object
date       23226 non-null object
dtypes: object(2)
memory usage: 564.9+ KB

In [6]:
df_bc = df_bc.dropna(subset=['comment'])
df_dj = df_dj.dropna(subset=['comment'])
df_ts = df_ts.dropna(subset=['comment'])

In [7]:
df_bcp = pd.read_excel('data/price/BTC.xlsx')
df_djp = pd.read_excel('data/price/DJI.xlsx')
df_tsp = pd.read_excel('data/price/TSLA.xlsx')

In [8]:
df_bcp.head()

          High          Low  Upper bound  Lower Bound      Date
0  5849.500000  5709.740234  7311.875000  4282.305175  04-05-19
1  5901.359863  5596.149902  7376.699829  4197.112426  03-05-19
2  5891.899902  5484.779785  7364.874878  4113.584839  02-05-19
3  5531.149902  5387.290039  6913.937378  4040.467529  01-05-19
4  5417.169922  5346.700195  6771.462403  4010.025146  30-04-19

In [9]:
df_bc.head()

                                             comment        date
0  Soon all the talking heads decide we are in an...  2019-05-08
1   i hear the A-Team theme song ... sip sip lol\r\n  2019-05-08
2  We have been working really hard to provide an...  2019-05-08
3                          ETH already jumped up\r\n  2019-05-08
4               Up the blue sky and waving off!!\r\n  2019-05-08

In [67]:
df_bc.set_index('date', inplace=True)
df_bcp.set_index('Date', inplace=True)

df_dj.set_index('date', inplace=True)
df_djp.set_index('Date', inplace=True)

df_ts.set_index('date', inplace=True)
df_tsp.set_index('Date', inplace=True)

In [68]:
df_bc.head()

                                                      comment
date
2019-05-08  Soon all the talking heads decide we are in an...
2019-05-08   i hear the A-Team theme song ... sip sip lol\r\n
2019-05-08  We have been working really hard to provide an...
2019-05-08                          ETH already jumped up\r\n
2019-05-08               Up the blue sky and waving off!!\r\n

In [69]:
df_bcp.head()

                   High          Low  Upper bound  Lower Bound
Date
2016-12-31   965.469971   942.400024  1206.837464   706.800018
2017-01-01  1001.609985   956.099976  1252.012481   717.074982
2017-01-02  1031.680054   990.200012  1289.600068   742.650009
2017-01-03  1035.469971  1006.530029  1294.337464   754.897522
2017-01-04  1148.540039  1022.320007  1435.675049   766.740005

In [70]:
df_bc_merge = pd.merge(df_bc,df_bcp, how='inner', left_index=True, right_index=True)
df_dj_merge = pd.merge(df_dj,df_djp, how='inner', left_index=True, right_index=True)
df_ts_merge = pd.merge(df_ts,df_tsp, how='inner', left_index=True, right_index=True)

In [71]:
df_bc_merge.tail()

,comment,High,Low,Upper bound,Lower Bound
2019-05-04,This should keep going up to ~6k ... Daily clo...,5849.5,5709.740234,7311.875,4282.305175
2019-05-04,2of 2 Meanwhile we have golden cross on daily ...,5849.5,5709.740234,7311.875,4282.305175
2019-05-04,In my opinion some whales saved bitcoin from d...,5849.5,5709.740234,7311.875,4282.305175
2019-05-04,Longs ask yourselves after the A -wh ipp ing ...,5849.5,5709.740234,7311.875,4282.305175
2019-05-04,Global markets could not of closed much more p...,5849.5,5709.740234,7311.875,4282.305175

In [93]:

def add_placeholder(row):
    regex = r"\b[0-9]{3,}\b"
    if re.findall(regex,row['comment']):
        predictions_list = re.findall(regex,row['comment'])
        
        for prediction in predictions_list:    
            predictionVal = float(prediction.replace('$', ''))
    
            if predictionVal < row['Upper bound'] and predictionVal > row['High']:
                return row['comment'].replace(prediction,'[OPTIMISTIC VALUE]')
            elif predictionVal > row['Lower bound'] and predictionVal < row['Low']:
                return row['comment'].replace(prediction,'[PESSIMISTIC VALUE]')
            
    return row['comment']

In [94]:
df_ts_merge['updated_comment'] = df_ts_merge.apply(lambda x: add_placeholder(x), axis=1)

In [96]:
df_ts_merge.head(5)

,comment,+/-,High,Low,Upper bound,Lower bound,updated_comment
2017-01-19,So here is a question. Has Tesla been issuing ...,NaN,248.679993,240.750000,310.849991,180.562500,So here is a question. Has Tesla been issuing ...
2017-01-20,Tsla has a strong fundamental behind the story...,NaN,246.000000,243.009995,307.500000,182.257496,Tsla has a strong fundamental behind the story...
2017-01-25,Climbing a higher diving board. Get ready for ...,NaN,258.459991,251.800003,323.074989,188.850002,Climbing a higher diving board. Get ready for ...
2017-01-25,Overvalued ******\r\n,NaN,258.459991,251.800003,323.074989,188.850002,Overvalued ******\r\n
2017-01-30,#boycotttesla is trending along with #deleteub...,NaN,255.289993,247.100006,319.112491,185.325005,#boycotttesla is trending along with #deleteub...

In [95]:
df_ts_merge.to_excel("output.xlsx", sheet_name='Sheet_name_1')

/Users/morten/anaconda3/lib/python3.7/site-packages/xlsxwriter/worksheet.py:912: UserWarning: Ignoring URL 'https://www.bloomberg.com/news/articles/2018-05-16/tesla-strikes-lithium-supply-deal-with-australian-mine-developer%20Kidman%20Resources%20Ltd.%20will%20supply%20Tesla%20from%20a%20planned%20refinery%20in%20Western%20Australia%20for%20an%20initial%20term%20of%20three%20years,%20the%20Melbourne-based...Show%20more
' with link or location/anchor > 255 characters since it exceeds Excel's limit for URLS
  force_unicode(url))