In [61]:
import nltk
import pandas as pd
import numpy as np
#nltk.download('vader_lexicon') *remember to download*
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [62]:
df_bc = pd.read_excel('data/output/clean_bit_data.xlsx')
df_dj = pd.read_excel('data/output/clean_dowjones_data.xlsx')
df_ts = pd.read_excel('data/output/clean_tesla_data.xlsx')

In [63]:
df_bc = df_bc[pd.notnull(df_bc['COMMENT'])]
df_dj = df_dj[pd.notnull(df_dj['COMMENT'])]
df_ts = df_ts[pd.notnull(df_ts['COMMENT'])]

In [64]:
sid = SentimentIntensityAnalyzer()

In [65]:
def get_compound_score(comment):
    ss = sid.polarity_scores(str(comment))
    return ss['compound']

def get_sentiment(compound_score):
    if compound_score > 0:
        return 1
    else:
        return 0


def vader(df):
    for comment in df.COMMENT:
        ss = sid.polarity_scores(comment)
    
    df['compound_score'] = df['COMMENT'].apply(lambda x: get_compound_score(x))
    df['LABEL'] = df['compound_score'].apply(lambda x: get_sentiment(x))
    
    return df

In [66]:
df_bc = vader(df_bc)
df_dj = vader(df_dj)
df_ts = vader(df_ts)

In [67]:
df_bc.head()

,date,COMMENT,LABEL,compound_score
0,04-05-19,"hold, optimisticvalue, becomes, distinct, poss...",neg,0.0000
1,04-05-19,"thumb, nasty, bear, love, get, spank, cryptoland",pos,0.1531
2,04-05-19,"mysterious, crypto, whale, unveils, meteoric, ...",neg,0.0000
3,04-05-19,"probably, pessimisticvalue, monday",neg,0.0000
4,04-05-19,"short, btc, maßsive, profit",pos,0.4404

In [68]:
df_dj.head()

,date,COMMENT,LABEL,compound_score
0,03-05-19,"stock, market, gold, silver, one, lie, answer,...",neg,0.0000
1,03-05-19,"company, pay, income, tax, amazon, delta, air,...",pos,0.5423
2,03-05-19,"gold, silver, interesting",pos,0.4019
3,03-05-19,"melt, up？crazy",neg,0.0000
4,03-05-19,"crazy, money, flow, daily, show, get, yet, mar...",pos,0.1027

In [69]:
df_ts.head()

,date,COMMENT,LABEL,compound_score
0,03-05-19,"tell, ratio, bull, bear, comment, section, bas...",pos,0.4215
1,03-05-19,"right, total, debt, billion, dollar",neg,-0.3612
2,03-05-19,"dont, know, day, tesla, hasnt, make, solid, pr...",neg,-0.6542
3,03-05-19,"day, great, way, end, week, cheer, cleaner, fu...",pos,0.8442
4,03-05-19,"tesla, waymo, uber, mercedes, ge, batterelectr...",pos,0.4404

In [70]:
df_bc.to_excel("data/output/vader/vader_bitcoin.xlsx", sheet_name='Sheet_1') 
df_dj.to_excel("data/output/vader/vader_dowjones.xlsx", sheet_name='Sheet_1') 
df_ts.to_excel("data/output//vader/vader_tesla.xlsx", sheet_name='Sheet_1')